<div class="container">
    <mat-form-field appearance="fill">
        <mat-label>Search by bug title...</mat-label>
        <input matInput #searchBox id="search-box" (input)="search(searchBox.value)" type="text">
        <button *ngIf="searchBox.value" matSuffix mat-icon-button aria-label="Clear"
            (click)="searchBox.value='';clearResults();">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    <mat-card class="search-result-card" *ngFor="let bugReport of bugReports$ | async">
        <span>
            <a routerLink="/view/{{bugReport.id}}">
                {{bugReport.title}}
            </a>
        </span>
    </mat-card>
</div>