.box {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex-direction: column;
  margin-top: 120px;
}

.search-input-wrapper {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex-direction: column;
}

.w60 {
  width: 60%;
}

.w100 {
  width: 100%;
}

.search-result-wrapper {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex-direction: column;
  margin-top: 40px;
  row-gap: 10px;
}
