<mat-card *ngIf="bugReport && createForm && !savingBugReport">
  <form [formGroup]="createForm" class="container">
    <div>
      <h1>New Bug Report</h1>
    </div>
    <div class="row w100">
      <div class="w40">
        <label>Priority: </label>
        <mat-radio-group formControlName="priority" required #priority>
          <mat-radio-button [value]="0">P0</mat-radio-button>
          <mat-radio-button [value]="1">P1</mat-radio-button>
          <mat-radio-button [value]="2">P2</mat-radio-button>
          <mat-radio-button [value]="3">P3</mat-radio-button>
          <mat-radio-button [value]="4">P4</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="w40">
        <label>Status: {{ bugReport.status }}</label>
      </div>
    </div>
    <div>
      <mat-form-field class="w100" appearance="fill">
        <input formControlName="title" matInput placeholder="Title" required #title />
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="w100" appearance="fill">
        <textarea matInput formControlName="description" placeholder="Description"
          cdkTextareaAutosize cdkAutosizeMinRows="10" required #description></textarea>
      </mat-form-field>
    </div>
    <div class="w100">
      <button routerLink="/list" mat-raised-button>Cancel</button>
      <button type="submit" (click)="add(createForm.value)"
        [disabled]="createForm.pristine || createForm.invalid" mat-raised-button>Save</button>
    </div>
  </form>
</mat-card>