<div>
    <mat-icon class="link action-icon" [routerLink]="['/comment', bugReport.id]"
        mat-list-icon>comment
    </mat-icon>
    <mat-icon class="link action-icon" [routerLink]="['/edit', bugReport.id]"
        mat-list-icon>edit</mat-icon>
    <mat-icon class="link action-icon" mat-list-icon
        (click)="markAsFixed(bugReport)">done</mat-icon>
    <mat-icon class="link action-icon" mat-list-icon>close</mat-icon>
    <mat-icon class="link action-icon" mat-list-icon>arrow_circle_up</mat-icon>
    <mat-icon class="link action-icon" mat-list-icon>arrow_circle_down</mat-icon>
    <mat-icon class="link action-icon" mat-list-icon>delete</mat-icon>
</div>