<div>
    <mat-icon class="link action-icon" [routerLink]="['/comment', bugReport.id]" mat-list-icon aria-hidden="false" aria-label="add comment">
        comment
    </mat-icon>
    <mat-icon class="link action-icon" [routerLink]="['/edit', bugReport.id]" mat-list-icon aria-hidden="false" aria-label="edit">
        edit
    </mat-icon>
    <mat-icon class="link action-icon" mat-list-icon (click)="markAsFixed(bugReport)" aria-hidden="false" aria-label="mark as fixed">
        done
    </mat-icon>
    <mat-icon class="link action-icon" mat-list-icon (click)="markAsWnf(bugReport)" aria-hidden="false" aria-label="mark as will not fix">
        close
    </mat-icon>
    <mat-icon class="link action-icon" mat-list-icon (click)="upPriority(bugReport)" aria-hidden="false" aria-label="upgrade the priority">
        arrow_circle_up
    </mat-icon>
    <mat-icon class="link action-icon" mat-list-icon (click)="downPriority(bugReport)" aria-hidden="false" aria-label="downgrade the priority">
        arrow_circle_down
    </mat-icon>
    <mat-icon class="link action-icon" mat-list-icon (click)="delete(bugReport)" aria-hidden="false" aria-label="delete">
        delete
    </mat-icon>
</div>