<h1 style="text-align: center;">Account Settings</h1>
<form *ngIf="settingsForm && user" [formGroup]="settingsForm">
    <div class="container">

        <mat-form-field>
            <input matInput placeholder="Username" formControlName="username" readonly="true">
            <mat-hint>Username is read-only.</mat-hint>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Email" formControlName="email">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="First Name" formControlName="firstName">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Last Name" formControlName="lastName">
        </mat-form-field>

        <span>Reset password? Click <a mat-raised-button href="/resetpwd">Reset password</a></span>
        <span>Remove account? Click <a mat-raised-button color="warn" (click)="deleteUser()">Delete User</a></span>

        <button mat-flat-button color="primary" type="submit" (click)="save()">Save</button>

        <button mat-flat-button color="primary" routerLink="/">Cancel</button>

    </div>
</form>