mat-card {
  margin: 0 auto;
  padding: 20px;
  width: 80%;
}

.changed {
  border-color: yellow;
  border-width: 1px;
}

.action-icon {
  margin-right: 24px;
}

button {
  margin-right: 24px;
  width: 150px;
}

.container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.container .mat-radio-button {
  margin: 0 12px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.w100 {
  width: 100%;
}

.w40 {
  width: 40%;
}

.link {
  cursor: pointer;
}

.visible {
  display: none;
}
