mat-card {
  margin: 0 auto;
  padding: 20px;
  width: 80%;
}

.container-grid {
  display: grid;
  grid-template-columns: auto 250px;
  grid-template-rows: auto;
  grid-template-areas: "main sidebar";
  column-gap: 2%;
  row-gap: 15px;
}

.border {
  border: 1px dotted grey;
  border-radius: 6px;
  padding: 12px;
}

.container-main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.container-sidebar {
  grid-area: sidebar;
}

.changed {
  border-color: yellow;
  border-width: 1px;
}

.scaled {
  transform-origin: top left;
  transform: scale(0.8);
}

.action-icon {
  margin-right: 24px;
}

button {
  margin-right: 24px;
  width: 150px;
}

.container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.container .mat-radio-button {
  margin: 0 12px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 80px;
}

.w100 {
  width: 100%;
}

.w40 {
  width: 40%;
}

.w60 {
  width: 60%;
}

.link {
  cursor: pointer;
}

.visible {
  display: none;
}

.label-container {
  display: flex;
  padding-left: 4px;
  padding-bottom: 4px;
  gap: 20px;
  justify-content: space-between;
}

.dates-container {
  display: flex;
  flex-direction: column;
}

.field {
  display: grid;
  grid-template-columns: 50px auto;
  grid-template-rows: auto;
  column-gap: 12px;
}

.field-name {

}

.field-data {

}