
mat-card {
  margin: 0 auto;
  padding: 20px;
  width: 80%;
}

.container-grid {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: auto;
  grid-template-areas: "main sidebar";
  column-gap: 10px;
  row-gap: 15px;
}

.container-main {
  grid-area: main;
}

.container-sidebar {
  grid-area: sidebar;
}

label {
  font-size: 12px;
}

input {
  font-size: 12px;
}

textarea {
  font-size:12px;
}

.mat-mdc-form-field-input-control.mat-mdc-form-field-input-control {
  font-size: 12px;
}

.changed {
  border-color: yellow;
  border-width: 1px;
}

.action-icon {
  margin-right: 24px;
}

button {
  margin-right: 24px;
  width: 150px;
}

.container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.container .mat-radio-button {
  margin: 0 12px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 80px;
}

.w100 {
  width: 100%;
}

.w40 {
  width: 40%;
}

.w60 {
  width: 60%;
}

.link {
  cursor: pointer;
}

.visible {
  display: none;
}

.label-container {
  display: flex;
  padding-left: 4px;
  padding-bottom: 4px;
  gap: 20px;
  justify-content: space-between;
}

.dates-container {
  display: flex;
  flex-direction: column;
}

.smallRadio .mat-radio-container{
  height: 10px;
  width: 10px;
}
.smallRadio .mat-radio-outer-circle{
  height: 10px;
  width: 10px;
}
.smallRadio .mat-radio-inner-circle{
  height: 10px;
  width: 10px;
}
.smallRadio .mat-radio-button .mat-radio-ripple{
  height: 20px; 
  width: 20px; 
  left: calc(50% - 10px); 
  top: calc(50% - 10px); 
}