<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span class="link" routerLink="/list">Bug tracker v2</span>
  <div>
    <span class="link" routerLink="/search">
      <mat-icon>search</mat-icon>
    </span>
    <span class="link" routerLink="/settings">
      <mat-icon>settings</mat-icon>
    </span>
    <span class="link" routerLink="/account" role="button" aria-label="account settings">
      <mat-icon>account_circle</mat-icon>
    </span>
    <span *ngIf="isUserLoggedIn" class="link" routerLink="/logout">
      <mat-icon>logout</mat-icon>
    </span>
    <span *ngIf="!isUserLoggedIn" class="link" routerLink="/login">
      <mat-icon>login</mat-icon>
    </span>
    <span class="link aligned-with-icon">{{username}}</span>
  </div>
</div>
<div class="content">
  <router-outlet></router-outlet>
</div>