<h1 style="text-align: center;">Login Page</h1>
<form *ngIf="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="container">

        <mat-form-field>
            <input matInput placeholder="Username" formControlName="username">
            <mat-hint *ngIf="loginForm.controls.username.errors">Username is required</mat-hint>
        </mat-form-field>

        <mat-form-field>
            <input matInput type="password" placeholder="Password" formControlName="password">
            <mat-hint *ngIf="loginForm.controls.password.errors">Password is required</mat-hint>
        </mat-form-field>

        <button mat-flat-button color="primary" [disabled]="loginForm.invalid"
            type="submit">Login</button>

        <button mat-flat-button color="primary" routerLink="/">Cancel</button>

        <span>No account? Click <a href="/register">here</a> to register.</span>

    </div>
</form>