<div class="filter">
  <mat-form-field appearance="outline">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="search bug report" #input>
  </mat-form-field>
</div>

<table mat-table *ngIf="dataSource" [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>No.</th>
    <td mat-cell class="narrow" *matCellDef="let bug">{{ bug.id }}</td>
  </ng-container>

  <!-- Title Column -->
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Title</th>
    <td mat-cell class="title link auto" [routerLink]="['/view', bug.id]" *matCellDef="let bug">
      {{ bug.title }}
    </td>
  </ng-container>

  <!-- Priority Column -->
  <ng-container matColumnDef="priority">
    <th mat-header-cell *matHeaderCellDef>Priority</th>
    <td mat-cell class="narrow" *matCellDef="let bug">{{ bug.priority }}</td>
  </ng-container>

  <!-- Status Column -->
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>Status</th>
    <td mat-cell class="narrow" *matCellDef="let bug">{{ bug.status }}</td>
  </ng-container>

  <!-- Author Column -->
  <ng-container matColumnDef="author">
    <th mat-header-cell *matHeaderCellDef>Author</th>
    <td mat-cell class="w160" *matCellDef="let bug">{{ bug.author | fullName }}</td>
  </ng-container>

  <!-- Created Column -->
  <ng-container matColumnDef="created">
    <th mat-header-cell *matHeaderCellDef>Created</th>
    <td mat-cell class="narrow" *matCellDef="let bug">{{ bug.created | date:"yyyy/MM/dd" }}</td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell class="w300" *matCellDef="let bug">
      <app-bug-report-actions (refreshData)="refreshData($event)"
        [bugReport]="bug"></app-bug-report-actions>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<div class="fab-container">
  <button routerLink="/create" mat-fab aria-label="Create">
    <mat-icon>add</mat-icon>
  </button>
</div>