table {
  width: 100%;
}
.link {
  cursor: pointer;
}
.fab-container {
  position: absolute;
  bottom: 30px;
  right: 30px;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.search-box {
  margin-top: 20px;
}
mat-icon {
  margin-right: 12px;
}
.w50 {
  width: 50%;
}
