table {
  width: 100%;
}
.link {
  cursor: pointer;
}
.fab-container {
  position: absolute;
  bottom: 30px;
  right: 30px;
  display: flex;
  justify-content: center;
}
.fab-container button {
  background-color: #1976d2;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.search-box {
  margin-top: 20px;
}

.action-icon {
  margin-right: 12px;
}

.w50 {
  width: 50%;
}

.mat-mdc-table tr.mat-mdc-row:hover {
  background: lightgrey;
}
