mat-card {
  margin: 0 auto;
  padding: 20px;
  width: 80%;
}

mat-icon {
  margin-right: 24px;
}

button {
  margin-right: 24px;
  width: 150px;
}

.container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.container .mat-radio-button {
  margin: 0 12px;
}

.row {
  display: flex;
  flex-direction: row;
}

.w100 {
  width: 100%;
}

.w40 {
  width: 40%;
}

.link {
  cursor: pointer;
}

.label-container {
  display: flex;
  padding-left: 4px;
  padding-bottom: 4px;
  gap: 20px;
  justify-content: space-between;
}