<mat-card>
  <form [formGroup]="bugReportForm" class="container">
    <div>
      <h1>Bug Report: {{ bugReport.bug_id }}</h1>
    </div>
    <div class="row w100">
      <div class="w40">
        <label>Priority: </label>
        <mat-radio-group formControlName="priority" appearance="outline">
          <mat-radio-button value="p0">P0</mat-radio-button>
          <mat-radio-button value="p1">P1</mat-radio-button>
          <mat-radio-button value="p2">P2</mat-radio-button>
          <mat-radio-button value="p3">P3</mat-radio-button>
          <mat-radio-button value="p4">P4</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="w40">
        <label>Status: {{ bugReport.status }}</label>
      </div>
    </div>
    <div>
      <mat-form-field class="w100" appearance="outline">
        <input matInput placeholder="Title" value="{{ bugReport.title }}" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="w100" appearance="outline">
        <textarea matInput placeholder="Description" cdkTextareaAutosize cdkAutosizeMinRows="10"
          value="some description"></textarea>
      </mat-form-field>
    </div>
    <div class="w100">
      <button routerLink="/list" mat-raised-button>Back</button>
      <mat-icon mat-list-icon>done</mat-icon>
      <mat-icon mat-list-icon>close</mat-icon>
      <mat-icon mat-list-icon (click)="upPriority()">arrow_circle_up</mat-icon>
      <mat-icon mat-list-icon (click)="downPriority()">arrow_circle_down</mat-icon>
      <mat-icon mat-list-icon>delete</mat-icon>
      <button (click)="onSave()" mat-raised-button>Save</button>
    </div>
  </form>
</mat-card>