<mat-card *ngIf="bugReport">
  <form [formGroup]="bugReportForm" class="container">
    <div class="container-grid border">
      <div class="container-main">
        <div>
          <h1>Bug Report: {{ bugReport.id }}</h1>
          <input matInput formControlName="id" value="{{ bugReport.id }}" hidden />
        </div>
        <div>
          <mat-form-field class="w100" appearance="outline">
            <mat-label>Title</mat-label>
            <input matInput formControlName="title" placeholder="Title" value="{{ bugReport.title }}"
              required />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="w100" appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description" placeholder="Description"
              cdkTextareaAutosize cdkAutosizeMinRows="10" value="{{ bugReport.description }}"
              required readonly="{{ !canEdit }}"></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="container-sidebar border">
        <div class="field  author">
          <div class="field-name">Author:</div>
          <div class="field-data">{{ bugReport.author | fullName }}</div>
        </div>
        <div class="field">
          <div class="field-name">Created:</div>
          <div class="field-data">{{ bugReport.created | date:"yyyy/MM/dd HH:mm:ss" }}</div>
        </div>
        <div class="field">
          <div class="field-name">Updated:</div>
          <div class="field-data">{{ bugReport.updated | date:"yyyy/MM/dd HH:mm:ss" }}</div>
        </div>
        <div>
          <div>
            <mat-form-field appearance="outline" floatLabel="auto" class="custom-form-field">
              <mat-label>Status</mat-label>
              <mat-select class="status" formControlName="status">
                <mat-option *ngFor="let bugReportStatus of bugReportStatuses" [value]="bugReportStatus">
                  {{bugReportStatus}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="field">
          <div class="fieled-name">Priority:</div>
          <div class="fieled-data scaled">
            <mat-radio-group class="priority" formControlName="priority" appearance="outline">
              <mat-radio-button [value]="0">P0</mat-radio-button>
              <mat-radio-button [value]="1">P1</mat-radio-button>
              <mat-radio-button [value]="2">P2</mat-radio-button>
              <mat-radio-button [value]="3">P3</mat-radio-button>
              <mat-radio-button [value]="4">P4</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>
    </div>


  <div *ngFor="let log of bugReportChangeLog">
    <div *ngIf="log.hasOwnProperty('comment')" class="container-grid border">
      <div class="container-main">
        <mat-form-field class="w100" appearance="outline">
          <mat-label>Comment</mat-label>
          <textarea matInput readonly="{{ log.author.username != currentUsername }}" placeholder="Comment" cdkTextareaAutosize
            cdkAutosizeMinRows="2" value="{{ (log | cast: BugReportComment).comment }}"></textarea>
        </mat-form-field>
      </div>
      <div class="container-sidebar border">
        <div class="field">
          <div class="field-name">Author:</div>
          <div class="field-data">{{ log.author | fullName }}</div>
        </div>
        <div class="field">
          <div class="field-name">Created:</div>
          <div class="field-data">{{ log.created | date:"yyyy/MM/dd HH:mm:ss" }}</div>
        </div>
      </div>
    </div>
    <div *ngIf="log.hasOwnProperty('update')" class="container-grid update border">
      <div class="container-main">
        <div>{{(log | cast: BugReportUpdate).update}}</div>
      </div>
      <div class="container-sidebar border">
        <div class="field">
          <div class="field-name">Author:</div>
          <div class="field-data">{{ log.author | fullName }}</div>
        </div>
        <div class="field">
          <div class="field-name">Created:</div>
          <div class="field-data">{{ log.created | date:"yyyy/MM/dd HH:mm:ss" }}</div>
        </div>
      </div>
    </div>
  </div>

    <div class="w100">
      <button (click)="goBack()" mat-raised-button>Back</button>
      <mat-icon class="link action-icon" mat-list-icon [routerLink]="['/comment', bugReport.id]">
        comment</mat-icon>
      <mat-icon class="link action-icon" mat-list-icon (click)="markAsFixed()">done</mat-icon>
      <mat-icon class="link action-icon" mat-list-icon (click)="markAsWnf()">close</mat-icon>
      <mat-icon class="link action-icon" mat-list-icon (click)="upPriority()">arrow_circle_up
      </mat-icon>
      <mat-icon class="link action-icon" mat-list-icon (click)="downPriority()">arrow_circle_down
      </mat-icon>
      <mat-icon class="link action-icon" mat-list-icon (click)="delete()">delete</mat-icon>
      <button (click)="save()" [disabled]="bugReportForm.pristine || bugReportForm.invalid"
        mat-raised-button>Save</button>
    </div>
  </form>
</mat-card>