mat-card {
  margin: 0 auto;
  padding: 20px;
  width: 80%;
}

.action-icon {
  margin-right: 24px;
}

button {
  margin-right: 24px;
  width: 150px;
}

.container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.container .mat-radio-button {
  margin: 0 12px;
}

.row {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 80px;
}

.w100 {
  width: 100%;
}

.w40 {
  width: 40%;
}

.link {
  cursor: pointer;
}

.dates-container {
  display: flex;
  flex-direction: column;
}